body {
    display: flex;
    height: 90vh;
    width: auto;
}

div{
    position: absolute;
    width: 100px;
    height: 100px;
}

.one {
    background-color: red;
}

.two{
    background-color: green;
    margin-left: 94%;
}

.three {
    background-color: gray;
    margin-left: 47%;
    margin-top:20% ;
}

.four {
    background-color: blue;
    margin-top:43%;
}

.five{
    background-color: purple;
    margin-left: 94%;
    margin-top: 43%;
}