html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-div {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;

    background:linear-gradient(to top,rgb(65, 179, 65), rgb(125, 219, 125));

    border-radius: 15px;
    overflow: hidden;
}   

.banner-div a {
    font-family: "Merriweather", serif;

    position: absolute;

    transition: 0.5s;

    color: black;
    text-decoration: none;
}

.banner-div a h1 {
    font-weight: 400;
}

.banner-div a:hover {
    transform: translateY(-15px);
}

.banner-div h4 {
    position: absolute;
    margin-top: 10vh;
    margin-left: 27vh;

    font-family: "Merriweather", serif;
    font-weight:normal;
}

.banner-div img {
    position: absolute;
    margin-right: 175vh;
    margin-bottom: 31vh;

    width: 5%;
    height: auto;

    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}

/*  */

.corses-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20vh;

    width: 70%;
}


.main-corse-div, .corse-div2, .corse-div3{
    width: 35vh;
    height: 35vh;
    border-radius: 10px;

    background-color: aqua;

    transition: 0.5s;

    overflow: hidden;
}

.main-corse-div img {
    width: 150%;
    height: auto;
    filter: blur(2px); 
    filter: brightness(50%);
}

.corse-div2 img {
    width: 160%;
    height: auto;
    filter: blur(2px); 
    filter: brightness(50%);
}

.main-corse-div:hover, .corse-div2:hover, .corse-div3:hover{
    transform: translateY(-15px);
}

.main-corse-div h2, .corse-div2 h2, .corse-div3 h2 {
    margin-left: 3vh;

    font-family: "Merriweather", serif;
    font-weight:normal;
    font-size: 40px;

    position: absolute;

    color: white;

    z-index: 100;
}   

.main-corse-div button {
    font-size:x-large;
    background-color: orange;
    z-index: 100;
    position: absolute;

    margin-top: 30vh;
    margin-left: 24vh;

    border-radius: 10px;

    border: none    ;
}

.main-corse-div button:hover {
    background-color: aqua;
}